.sizeim{
    width: 50%;
    height: 50%;
}
.link:hover{

    color: #0078e7;
    transition: color .7s; 

}
.link{
    color: white;
}

.alertform{

    margin-top: 0.25rem; 
    height: 25px;
    text-align: center;
    padding: 0rem;

}
.percent{

    width: 63px;
    height: 30px;
    position: absolute;
    background: red;
    color: #fff;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    border-bottom-left-radius: 15px;
    padding: 10px;

}
.per{

    width: 63px;
    height: 30px;
    position: absolute;
    background: blue;
    color: #fff;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    border-bottom-left-radius: 15px;
    padding: 10px;

}
.details{

    border-radius: 8px;

    width: 110px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart{

    width: 40px;
    height: 40px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 5px;
    font-size: 15px;

}
.card-inner{

    padding: 20px;

}

.wishlist{


    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #f7a754;
    background: #fdeddc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s all;
    font-size: 15px;

}
.wishlist:hover{

    color: #fff;
    background: #f7a754;

}






/* ----- Global ----- */
* {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}



h3 {
    font-size: 0.7em;
    letter-spacing: 1.2px;
    color: #a6a6a6;
}

img {
    max-width: 100%;
    filter: drop-shadow(1px 1px 3px #a6a6a6);
}

/* ----- Product Section ----- */
.product {

    display: grid;
    grid-template-columns: 0.9fr 1fr;
    margin: auto;
    padding: .5em 0;
    height: 100px;
    min-width: 600px;
    background-color: white;
    border-radius: 1px;
}

/* ----- Photo Section ----- */
.product__photo {
    margin-top: 2em;
    position: relative;
}

.photo-container {
    position: absolute;
    left: 4em;
    display: grid;
    grid-template-rows: 1fr;
    width: 70%;
    height: 100%;
    border-radius: 6px;
    box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
}

.photo-main {
    padding: 2.5em;
    border-radius: 6px 6px 0 0;
    background-color: #E2FECB;
    background: radial-gradient(lightgray,ghostwhite );

    .controls {
        display: flex;
        justify-content: space-between;

        color: #fff;

        i {
            cursor: pointer;
        }
    }

    img {
        position: absolute;
        left: -3em;
        top: 3em;
        max-width: 100%;
        filter: saturate(150%) contrast(120%) hue-rotate(10deg)
            drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3));
    }
}



/* ----- Informations Section ----- */
.product__info {


    padding: 1 em 0;
}

.title {
    h1 {
        margin-bottom: 0.1em;
        color: #4c4c4c;
        font-size: 1.5em;
        font-weight: 900;
    }

    span {
        font-size: 0.7em;
        color: #a6a6a6;
    }
}

.price {
    margin: 1.5em 0;
    color: #ff3f40;
    font-size: 1.2em;

    span {
        padding-left: 0.15em;
        font-size: 2.9em;
    }
}


.description {
    clear: left;
    margin: 2em 0;

    h3 {
        margin-bottom: 1em;
    }

    ul {
        font-size: 0.8em;
        list-style: disc;
        margin-left: 1em;
    }

    li {
        text-indent: -0.6em;
        margin-bottom: 0.5em;
    }
}
.card .card-subtitle {
    font-weight: 300;
    margin-bottom: 10px;
    color: #8898aa;
}
.buy--btn {
    padding: 1.5em 3.1em;
    border: none;
    border-radius: 7px;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 1.3px;
    color: #fff;

    box-shadow: 2px 2px 25px -7px #4c4c4c;
    cursor: pointer;

    &:active {
        transform: scale(0.97);
    }
}
.pricet {

    color: #ff3f40;
    font-size: 1.2em;


}


/* ----- CARRITO Section ----- */
.products-description {
    padding: 40px 50px;
    color: #bbc0d4;
    font-size: 16px;
    line-height: 26px;
}
.tr-section, .tr-products {
    border-radius: 8px;
    margin-bottom: 30px;
    overflow: hidden;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 12px rgb(0 0 0 / 15%);
    -moz-box-shadow: 0 3px 20px rgba(0,0,0,.09);
    -ms-box-shadow: 0 3px 20px rgba(0,0,0,.09);
    -o-box-shadow: 0 3px 20px rgba(0,0,0,.09);
    box-shadow: 0 3px 20px rgb(0 0 0 / 9%);
}
.item-info-menu {
    color: #363636;
    font-size: 14px;
    padding-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid #f2f2f2;
}

.tr-list, .tr-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.cart-list li, .cart-totals li {
    padding: 15px 0;
    border-bottom: 1px solid #f2f2f2;
}
.quantity {
    width: 100px;
    
    padding: 5px 5px;
   
}

.cart-item .quantity .btn {
    border: 0;
    border-radius: 0;
    width: 35px;
    height: 35px;
    line-height: 30px;
}
.products-description .buttons {
    margin-top: 40px;

}

.quantity input {
    width: 35px;
    border: 0;
    text-align: center;
    line-height: 1;
    border-radius: 10%;
}
.quantity input:focus {
border-color: rgb(68, 164, 193);
    box-shadow: 0 1px 1px rgba(72, 104, 219, 0.09)inset, 0 0 8px rgba(72, 104, 219, 0.91);
    outline: 0 none;
}
.pull-right {
    float: right;
    

}
.pull-left {
    float: left;
    

}
.quantity .btn {
    border: 1px solid #ededed;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    padding: 0;
    color: #bbc0d4;
    transition: color .7s;
    line-height: 23px;
}

.products-description{
    background-color: #fff;
    border-color: #e5e5e5;
}
.cart-item .product-title, .cart-item span.color {
    float: left;
    display: block;
    width: 40%;
}
.cart-item .product-image {
    float: left;
    width: 50px;
    margin-right: 15px;
    overflow: hidden;
}

.product-image {
    overflow: hidden;
}

.product-title {
    color: #3a3d3f;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.cart-totals .price {
    color: #363636;
}
.Promo-code .price {
    color: #e53c53;
}
.cart-item .price {
    color: #363636;
    display: block;
    margin: 15px 0;
}
.hover:hover{
    color: #0078e7;

}

.remove-icon:hover {

    color: #f27474;
}
.remove-icon{

    color: #bbc0d4;
    transition: color .7s;
}
.btn-del:hover{
    color: #f27474;
}
.btn-del{

    color: #bbc0d4;
    transition: color .7s;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.tr-form{


    margin-top: 35px;
    border-radius: 8px;
    margin-bottom: 30px;
    overflow: hidden;
    background-color: #fff;
    height: 90%;
    width: 100%;

    -webkit-box-shadow: 0 3px 12px rgb(0 0 0 / 15%);
    -moz-box-shadow: 0 3px 20px rgba(0,0,0,.09);
    -ms-box-shadow: 0 3px 20px rgba(0,0,0,.09);
    -o-box-shadow: 0 3px 20px rgba(0,0,0,.09);
    box-shadow: 0 3px 20px rgb(0 0 0 / 9%);
    margin-bottom: 50px;
}



/*CARRITO NUEVO*/
.ui-w-40 {
    width: 40px !important;
    height: auto;
}

.card{
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);    
}

.ui-product-color {
    display: inline-block;
    overflow: hidden;
    margin: .144em;
    width: .875rem;
    height: .875rem;
    border-radius: 10rem;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    vertical-align: middle;
}